body {
  width: 100%;
  font-size: 1em;
}
div#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: darkblue;
}
div#header img, div#spacer img {
  float: left;  
}

div#spacer {
  width: 100%;
  visibility: hidden;
}
div#header h1, div#spacer h1 {
  font-family: Arial, Helvetica, Tahoma, sans-serif;
  font-size: 2em;
  color: beige;
  padding-left: 30%;
}
div#main {
  width: 75%;
  margin: 0 auto 0 auto;
}
/* navbar always */

div#navbar {
  clear: both;
  width: 60%;
  margin-left: 6%;
}

div#navbar ul {
  list-style-type: none;
  padding-left: 0;
}

div#navbar ul li {
  text-align: center;
  display: inline;
  width: 30%;
  float: left;
  margin: 0 .2em 0 0;
  background-color: red;
}


div#navbar ul li a {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1.1em;
  font-weight: 900;
  text-decoration: none;
  color: white;
  display: block;
  padding: .3em;
}
li.changebackground {
  background-color: orange;
}
li.changebackground:hover {
  background-color: purple;
}
li.changebackground:active {
  background-color: brown;
}
div#content {
  width: 68%;
  float: left;
}
div#sidebar {
  width: 29%;
  float: right;
}
h2 {
  font-family: Tahoma, Geneva, sans-serif;
  color: gainsboro;
}
div#sidebar p {
  font-family: Arial, Tahoma, sans-serif;
  color: black;
}
div#sidebar h3 {
  font-family: Georgia, Times, serif;
  color: red;
  margin-bottom: -5%;
}
div#footer {
  clear: both;
  width: 100%;
  height: 75px;
  background-color: black;
}
div#footer ul {
  list-style-type: none;
  padding-left: 20%;
}
div#footer ul li {
  display: inline;
  float: left;
  margin: 0 .75em 0 0;
}
div#footer ul li a {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  color: white;
  display: block;
  padding: 1.2em .3em .3em .3em;
}
img.foralberta {
  float: left;
  margin: 0 1em .5em 0;
}
ul li {
  margin-bottom: .25em;
}







